.show-wrapper .show-container .form-inputs.show{
  .form-group{
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 5px 10px;
    background: white;
    label{
      margin: 0;
    }
  }
  .availability{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
    .sfk-button{
      padding-top: 2px;
    }
  }
  .availability:last-child{
    border-bottom: none;
    padding-bottom: none;
  }
  .availability:first-child{
    padding-top: none;
  }
}
