<div class="search-wrapper">
  <div class="search-panel">
    <div>
      <p class="index-total-count">
        <strong><%= @sitters.count %></strong> Babysitters
      </p>
      <div class="search-results">
        <div class="index-wrapper">
          <% @sitters.each do |sitter| %>
            <%= render 'sitter_card', sitter: sitter, matching_availabilities: @matching_availabilities , contact_info: sitter.contact_info %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
