.show-wrapper{
  display: flex;
  justify-content: center;
  margin-top: 80px;
  position: relative;
  .show-container{
    border: 1px solid #ced4da;
    border-radius: 5px;
    padding: 30px 50px;
    width: 55%;
    position: relative;
    .form-inputs{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 25px;
      textarea{
        height: 210px;
      }
      .profile-photo-container{
        height: 100px;
        width: 100px;
        border: 1px solid;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: -50px;
        background: white;
        .fa-user{
          font-size: 50px;
          color: #4c4c4c;
        }
        img{
          border-radius: 50%;
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
        .form-group{
          width: 30px;
          height: 30px;
          margin: 0;
          border-radius: 50%;
          background: white;
          position: absolute;
          right: 0;
          bottom: 5px;
          border: 1px solid #ced4da;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
      .photo-label{
        margin: 0;
        cursor: pointer;
        color: #929292;
      }
      .photo{
        position: absolute;
        top: -50px;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        border: 1px solid;
        img{
          border-radius: 50%;
          object-fit: contain;
          height: 100%;
          width: 100%;
        }
        .photo-label{
          display: flex;
          align-items: center;
          justify-content: center;
          background: white;
          width: 100%;
          height: 100%;
          border-radius: inherit;
        }
        .fa-user{
          font-size: 50px;
          color: #4c4c4c;
        }
        .fa-pencil-alt{
          position: absolute;
          right: 0;
          bottom: 0;
          font-size: 17px;
          border: 1px solid gray;
          border-radius: 50%;
          padding: 6px;
          background: white;
          color: gray;
          cursor: pointer;
        }
      }
      .sitter_contactInfos_first_name{
        margin-top: 20px;
      }
      .form-group{
        width: 70%;
      }
    }
    .form-actions{
      text-align: center;
      margin-top: 30px;
    }
    .availabilities{
      .availability-hands{
        display: flex;
        width: 100%;
        img{
          width: 100px;
          object-fit: contain;
          cursor: pointer;
        }
        .availability-hand-container{
          display: flex;
          flex-direction: column;
          position: relative;
          align-items: center;
        }
      }
    }
  }
}

.year{
  display: none;
}
.month{
  display: none;
}
.day{
  display: none;
}
