.info{
  display: none;
  font-size: 11px;
  margin-right: 5px;
  color: #565656;
}

.info-on-hover{
  position: absolute;
  display: flex;
  align-items: center;
  right: 0;
  top: 0;
  height: fit-content;
}

.info-on-hover:hover{
  border: 1px solid lightgray;
  padding: 3px;
  border-radius: 4px;
  i{
    border: none;
    height: calc(100% - 6px);
  }
  .info {
    display: block;
  }
}

.info-label{
  position: relative;
  i{
    font-size: 12px;
    border: 1px solid lightgray;
    padding: 3px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.info-label.show .info-on-hover{
  top: 1px;
  right: 1px;
}

.edit-info-on-hover .info{
  position: absolute;
  top: -20px;
  right: -76px;
}

.edit-info-on-hover:hover{
  .info{
    display: block;
  }
}
