#popup-container{
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255,255,255,0.6);
  #popup-table{
    background: white;
    padding: 50px;
    border: 0.5px solid lightgray;
    border-radius: 5px;
  }
}
#open-popup-button:focus{
  outline: 1px dotted !important;
}
