.random-hand-backgroud-wrapper{
  @media (max-width: 768px) {
    display: none;
  }
  height: 100%;
  width: 100%;
  position: absolute;
  img{
    width: 70px;
    object-fit: contain;
    position: absolute;
  }
}
