.sitter-card-link{
  text-decoration: none;
  color: black;
}
.sitter-card-link:hover{
  color: black;
  text-decoration: none;
}

.sitter-card{
  margin: 10px;
  background-color: white;
  box-shadow: 1px 1px 3px rgba(0,0,0,0.05);
  overflow: hidden;
  position: relative;
  transition: 1s;
  .sitter-card-img-part{
    width: 100%;
    height: 130px;
    background-size: cover;
    background-position: center;
    position: relative;
    .sitter-card-img{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    .sitter-age{
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 1;
      font-size: 14px;
    }
    .sitter-name{
      position: absolute;
      bottom: 10px;
      left: 10px;
      h3{
        font-size: 15px;
        color: white;
        text-shadow: 1px 1px 3px rgba(0,0,0,0.4);
        margin: 0;
        font-weight: 600;
      }
      .sitter-name-light{
        font-weight: 100;
      }
    }
  }
  .sitter-card-availabilities{
    margin: 10px 0;
    padding: 0 10px;
    width: 100%;
    max-height: 100px;
    overflow-x: scroll;
    font-size: 14px;
    .underline{
      text-decoration: underline;
    }
    .sitter-card-availability{
      display: flex;
      flex-direction: column;
      border-bottom: 1px solid #424242;
      padding: 5px 0;
    }
    .sitter-card-availability:first-child{
      padding-top: 0;
    }
    .sitter-card-availability:last-child{
      border-bottom: none;
      padding-bottom: 0;
    }
  }
}
.sitter-card:hover {
  box-shadow: 1px 1px 3px rgba(0,0,0,0.25) !important;
  cursor: pointer;
}
